.post-content>table {
  width: 100%;
  margin: 0.5em 0;
}

.highlighter-rouge .highlight, pre, code {
  background: #eee;
}

.post-content img {
  border: 1px solid #e3e1de;
  margin: 0 auto;
  display: block;
}
